<template>
  <div class="row">
    <table class="col l8 offset-l2  bordered">
      <thead>
        <tr>
          <th>Picture</th>
          <th>Product</th>
          <th>Unit price</th>
          <th>Qty.</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><img class="shopping-cart-img" src="http://oxygennacdn3.oxygenna.com/wp-content/uploads/2014/08/avatar1.jpg" alt=""></td>
          <td>Eclair</td>
          <td>$0.87</td>
          <td><input type="number" min="1" value="1" class="shopping-cart-input"></td>
          <td>$0.87</td>
          <td><a class="waves-effect waves-light btn">Remove</a></td>
        </tr>
      </tbody>
    </table>
    <table>
      <tbody class="order-container">
        <tr class="col l6 offset-l6">
          <td class="pay-pal">
              <a class="waves-effect waves-light btn col l12 order-page-button">Check out with PayPal <i class="fa fa-paypal" aria-hidden="true"></i></a>
              <img class="credit-card-image" class=" col l12" src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/cc-badges-ppmcvdam.png" alt="">
          </td>
          <td>
          </td>
          <td>
            <a class="waves-effect waves-light btn order-page-button">Checkout</a>
          </td>
          <td>
            <a class="waves-effect waves-light btn order-page-button">Continue Shopping</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
