<template>
  <require from="./home-slider"></require>
  <require from="./../components/product-reveal-card/product-reveal-card"></require>

<home-slider></home-slider>
  <div class="product-row-header"><h2>New Products</h2></div>
  <div class="row product-row">
    <product-reveal-card product-id="10"></product-reveal-card>
    <product-reveal-card product-id="11"></product-reveal-card>
    <product-reveal-card product-id="6"></product-reveal-card>
    <product-reveal-card product-id="7"></product-reveal-card>
  </div>
  <div class="row product-row">
    <product-reveal-card product-id="12"></product-reveal-card>
    <product-reveal-card product-id="13"></product-reveal-card>
    <product-reveal-card product-id="14"></product-reveal-card>
    <product-reveal-card product-id="15"></product-reveal-card>
  </div>
  <div class="product-row-header"><h2>GIFTS FOR COUPLES</h2></div>
  <div class="row product-row">
  <md-card md-horizontal="true" class="col s12 l4 offset-l2" md-image="https://cdn.shopify.com/s/files/1/1836/7251/products/IMG_5449_530x530@2x.png?v=1491336378" >
    <h4>Mug for her</h4>
    <div class="gift-description">
      I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.
    </div>
    <div class="button-row gift-buttons">
      <button md-button class="col l5 ">ORDER</button>
      <button md-button class="col l5 offset-l1">EDIT</button>
    </div>
  </md-card>
  <md-card md-horizontal="true" class="col s12 l4" md-image="https://cdn.shopify.com/s/files/1/1836/7251/products/IMG_5448_530x530@2x.png?v=1491336347" >
    <h4>Mug for him</h4>
    <div class="gift-description">
      I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.
    </div>
    <div class="button-row gift-buttons">
      <button md-button class="col l5">ORDER</button>
      <button md-button class="col l5 offset-l1">EDIT</button>
    </div>
  </md-card>
  </div>
<div class="row product-row">
      <md-card md-horizontal="true" class="col s12 l8 offset-l2" md-image="https://cdn.shopify.com/s/files/1/1836/7251/files/IMG_5473_600x600.jpg?v=1491337916" >
          <h3>Products without limits</h3>
        <div class="flow-text">
          I am a very simple card. I am good at containing small bits of
          information. I am convenient because I require little markup to
          use effectively.
        </div>
        <div class="button-row">
          <a class="waves-effect waves-light btn gift-buttons">GET A GUIDED TOUR</a>
        </div>
      </md-card>
  </div>
  <div>
    <footer md-footer style="padding-left: 0;" class="footer-top-background">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Footer Content</h5>
            <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          © 2016 Copyright Text
          <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
      </div>
    </footer>
  </div>
</template>
