.product-row {
  margin: 60px;
}

.product-row-header {
  color: gray;
  text-align: center;
}

.slider.au-target.slider {
  height: 59em!important;
  margin-bottom: 8em;
}

.slides {
  height: 56em!important;
}

.footer-top-background {
  background-color: #b0bec5!important;
}

.footer-copyright {
  background-color: #788188!important;
}


/*Gift for couples part*/

.card.horizontal .card-image img {
  width: 100%!important;
}

.card .card-image img {
  top: 6%!important;
  left: 7%!important;
  background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
}
.gift-description{
  font-size: 1.3rem;
  text-align: justify;
  word-spacing:-2px;
}
.gift-buttons{
  margin-top: 2em;
}
/*povecava sliku za sve card image, treba srediti, provizorno odradjeno*/
.card.horizontal .card-image{
  width: 280%;
}
/*Navigation */

.brand-logo img {
  position: absolute!important;
  top: 0.4em;
  left: 2em;
}

@media screen and (max-width: 480px) {
  .brand-logo img {
    left: 0.4em;
    top: 0.5em;
    width: 5em;
  }
}

/*shopping card*/

tr td .shopping-cart-input{
  width: 50px;
}
tr td .shopping-cart-img{
  width: 100px;
  height: 100px;
}

tbody tr td:nth-child(6){
  width: 4em;
}
.credit-card-image{
  width: 8em;
  height: 1em;
}
.pay-pal{
  position: relative;
}
.pay-pal-btn{
  background-color: #FFCB3C;
}
.pay-pal img{
  position: absolute;
  top: 100%;
  right: 0.2em;
}
.order-page-button{
  height: 2.8em;
  font-size: 1rem;
}

