<template>
  <md-slider class="slider">
    <li>
      <img src="1-s.jpg" />
      <div class="caption right-align">
        <h3>Gifts for your beloved!</h3>
        <h5 class="light grey-text text-lighten-3">From idea to design</h5>
      </div>
    </li>
    <li>
      <img src="2-s.jpg" />
      <div class="caption left-align">
        <h3>Create unique gift</h3>
        <h5 class="light grey-text text-lighten-3">Design from the Stretch</h5>
      </div>
    </li>
    <li>
      <img src="3-s.jpg" />
      <div class="caption right-align">
        <h3>Be creative with X-Cell Zone</h3>
        <h5 class="light grey-text text-lighten-3">And show everybody your designes</h5>
      </div>
    </li>
    <li>
      <img src="4-s.png" />
      <div class="caption center-align">
        <h3>This is our big Tagline!</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
  </md-slider>
</template>
