<template>
  <form class="" action="index.html" method="post">
    <div class='row'>
      <div class='input-field col s3 offset-s4'>
        <input class='validate' type='email' name='email' id='email' />
        <label for='email'>Enter your email</label>
      </div>
      <div class='input-field col s3 offset-s4'>
        <input class='validate' type='password' name='password' id='password' />
        <label for='password'>Enter your password</label>
      </div>
      <label >
        <a class='col s3 offset-s4' href='#!'><b>Forgot Password?</b></a>
      </label>
    </div>
    <div class="row">
      <button type="submit" name="btn-login"  class='col s3 offset-s4 btn btn-large waves-effect green darken-1'>Login</button>
      <label >
       <p class="col s3 offset-s4 center-align"><b>Not registered? <a href="#">Create an account</a></b></p>
      </label>
    </div>
    <div class="row">
        <button type="submit" name="btn-loginFacebook"  class='btn btn-medium waves-effect col s3 offset-s4  blue darken-4'><i class="fa fa-facebook icon-facebook" aria-hidden="true"></i>Sign in with Facebook</button>
    </div>
  </form>

</template>
