<template>
  <form class="" action="index.html" method="post">
    <div class='row'>
      <div class="drag_drop col s4 offset-s4">
          <p><strong>Choose a picture</strong> or drag it here.</p>
      </div>
      <div class='input-field col s4 offset-s4'>
        <input class='validate' type='text' name='username'/>
        <label for='userName'>Username</label>
      </div>
      <div class='input-field col s4 offset-s4'>
        <input class='validate' type='password' name='password' id='password' />
        <label for='password'>Password</label>
      </div>
      <div class='input-field col s4 offset-s4'>
        <input class='validate' type='password' name='password' id='password' />
        <label for='retypePassword'>Retype password</label>
      </div>
      <div class='input-field col s4 offset-s4'>
        <input class='validate' type='text' name='firstName'/>
        <label for='firstName'>First name</label>
      </div>
      <div class='input-field col s4 offset-s4'>
        <input class='validate' type='text' name='lastName'/>
        <label for='lastName'>Last name</label>
      </div>
      <div class='input-field col s4 offset-s4'>
        <input class='validate' type='email' name='email'/>
        <label for='email'>Email</label>
      </div>
      <div class='input-field col s4 offset-s4'>
        <input class='validate' type='text' name='address'/>
        <label for='address'>Address</label>
      </div>
      <div class='input-field col s4 offset-s4'>
        <input class='validate' type='text' name='city'/>
        <label for='city'>City</label>
      </div>
      <div class="col s4 offset-s4">
        <select md-select="label: State " value.two-way="selectedValue">
          <option value="AL">Alabama</option>
        	<option value="AK">Alaska</option>
        	<option value="AZ">Arizona</option>
        	<option value="AR">Arkansas</option>
        	<option value="CA">California</option>
        	<option value="CO">Colorado</option>
        	<option value="CT">Connecticut</option>
        	<option value="DE">Delaware</option>
        	<option value="DC">District Of Columbia</option>
        	<option value="FL">Florida</option>
        	<option value="GA">Georgia</option>
        	<option value="HI">Hawaii</option>
        	<option value="ID">Idaho</option>
        	<option value="IL">Illinois</option>
        	<option value="IN">Indiana</option>
        	<option value="IA">Iowa</option>
        	<option value="KS">Kansas</option>
        	<option value="KY">Kentucky</option>
        	<option value="LA">Louisiana</option>
        	<option value="ME">Maine</option>
        	<option value="MD">Maryland</option>
        	<option value="MA">Massachusetts</option>
        	<option value="MI">Michigan</option>
        	<option value="MN">Minnesota</option>
        	<option value="MS">Mississippi</option>
        	<option value="MO">Missouri</option>
        	<option value="MT">Montana</option>
        	<option value="NE">Nebraska</option>
        	<option value="NV">Nevada</option>
        	<option value="NH">New Hampshire</option>
        	<option value="NJ">New Jersey</option>
        	<option value="NM">New Mexico</option>
        	<option value="NY">New York</option>
        	<option value="NC">North Carolina</option>
        	<option value="ND">North Dakota</option>
        	<option value="OH">Ohio</option>
        	<option value="OK">Oklahoma</option>
        	<option value="OR">Oregon</option>
        	<option value="PA">Pennsylvania</option>
        	<option value="RI">Rhode Island</option>
        	<option value="SC">South Carolina</option>
        	<option value="SD">South Dakota</option>
        	<option value="TN">Tennessee</option>
        	<option value="TX">Texas</option>
        	<option value="UT">Utah</option>
        	<option value="VT">Vermont</option>
        	<option value="VA">Virginia</option>
        	<option value="WA">Washington</option>
        	<option value="WV">West Virginia</option>
        	<option value="WI">Wisconsin</option>
        	<option value="WY">Wyoming</option>
        </select>

      </div>
      <div class='input-field col s4 offset-s4'>
        <input class='validate' type='text' name='zip'/>
        <label for='zip'>ZIP</label>
      </div>
    </div>
    <div class="row">
        <button type="submit" name="btn-login"  class='col s4 offset-s4 btn btn-large waves-effect green darken-1'>Register</button>
    </div>
  </form>
</template>
