/*products home page*/
  .product-name {
    color: red;
  }

  .card {
    height: 30em;
  }

  .card .card-image img {
    height: 25em;
  }
/*end products home page*/

/*products details page*/

  .product-buttons {
    margin-bottom: 1em;
  }
  .product-info {
    position: absolute;
    top: 0.15em;
  }
  .product-title {

  }
  .product-share a {
    margin-top: 1em;
    color: #3d4246;
  }
  .product-share .fa-facebook-official {
    color: #3b5998;
  }
  .product-share .fa-twitter {
    color: #00aced;
  }
  .product-share .fa-pinterest-p {
    color: #cb2027;
  }

/*end of product details page*/
