<template>
  <require from="./../../value-converters/prefix-base64"></require>
  <require from="./../../value-converters/currency-format"></require>
  <md-card class="col s12 m6 l3" md-title.bind="productName" md-size.bind="size" md-reveal="true" md-image.bind="product.picture | prefixBase64">
    <div>
        $ ${product.price | currencyFormat}
    </div>
    <div slot="reveal-text">
      <p class="product-name">${product.name}</p>
      <p class="description">
          ${product.description}
      </p>
      <div class="button-row">
        <button click.delegate="productDetails()" md-button class="col s12 m5" >Details</button>
        <button click.delegate="addToCard()" md-button class="col s12 m5 offset-m2">Buy</button>
      </div>
    </div>
  </md-card>
</template>
