<template>
  <md-colors md-primary-color="#ffffff" md-accent-color="#525252" md-primary-text="#f3b510" md-accent-text="#ffffff"></md-colors>
  <!--<require from="./nav-bar.html"></require>-->
  <!--<nav-bar router.bind="router"></nav-bar>-->

  <div class="page-host">
    <nav class="navbar navbar-default navbar-fixed-top primary" role="navigation">
      <md-navbar>
        <a href="#/samples/navbar" class="brand-logo left">
          <img src="https://cdn.shopify.com/s/files/1/1836/7251/files/x-cell-logo_200x.png?v=1491290479" alt=""></a>
        <ul class="hide-on-med-and-down right nav-right-space">
          <li><a>About</a></li>
          <li><a>Installation</a></li>
          <li><a>Login</a></li>
        </ul>
      </md-navbar>
    </nav>
    <router-view></router-view>
  </div>
</template>
