<template>
  <div class="row product-row" >
   <md-card md-horizontal="true" class="col s12 l8 offset-l2" md-image="http://aurelia-ui-toolkits.github.io/demo-materialize/images/card-sample-1.jpg">
        <div class="product-info ">
          <span class="card-title product-title"><h3>Product Title</h3></span>
            <div class="product-counter col s12">
                <a href="#" class="col s1 item-counter"><i class="material-icons">add_circle</i></a>
                <!-- put type to be number for counter -->
                <input type="number" name="" value="1" class="col s1 item-counter ">
                <a href="#" class="col s1 item-counter"><i class="material-icons">remove_circle</i></a>
            </div>
            <div class="card-action product-buttons col s12">
              <a href="#" class="waves-effect waves-light btn btn-large col s12 m5"><i class="material-icons left">shopping_cart</i> ADD TO CART</a>
              <a href="#" class="waves-effect waves-light btn btn-large col s12 m5 offset-m1"><i class="material-icons left ">content_cut</i> EDIT IN DESIGNER</a>
            </div>
            <!-- product description -->
            <p class="flow-text product-description col s12">Add comic art and anything that your little once will like. You can set different or the same design to bottle and cup based on different background color</p>
            <div class="product-share">
                <a href="#" class="col s3 product-social-share"><i class="fa fa-facebook-official" aria-hidden="true"></i>&nbsp; &nbsp; SHARE</i></a>
                <a href="#" class="col s3 product-social-share"><i class="fa fa-twitter" aria-hidden="true"></i>&nbsp; &nbsp; TWEET</i></a>
                <a href="#" class="col s3 product-social-share"><i class="fa fa-pinterest-p" aria-hidden="true"></i>&nbsp; &nbsp; PIN IT</i></a>
            </div>
        </div>
    </md-card>
  </div>
</template>
